# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Editors & IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs & Temp
*.log
npm-debug.log*
yarn-debug.log*

# Local AI / Agent configs
.agents/

